@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url("./Font/Manrope-VariableFont_wght.ttf");
  }
}

@layer components{
  *{
  @apply p-0 m-0 box-border;
}
body{
  @apply font-Manrope;
}
}